body {
    margin : 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.clear {
    clear: left;
    clear: right;
}
.clear_menu {
    clear: right;
}
/* .header {
    position: fixed;
    z-index: 10;
    width: 100%;
} */

.header .top {   
    /* max-width: 1170px; */
    width: 100%;
    background-color: #eff1fa;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
}
.header .container {
    padding: 10px 50px;
}
.container .kiri {
    float: left;
    width: 40%;
    padding: 5px 0
}
.container .kanan {
    float: right;
    width: 60%;
    padding: 18px 0
}
.container .kanan img {
    width: 14px;
}
.container .kanan a {
    padding-right: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.container .kanan .menu {
    text-align: end;
}
.container .kanan .icon {
    color: white;
    float: right;
    display: none;
}

@media (max-width: 710px) {
    .container .kiri {
        width: 100%;
    }
    .container .kanan {
        width: 100%;
    }
    .header {
        text-align: center;
    }
    .container .kanan .menu {
        text-align: center;
    }
}

@media (max-width: 470px) {
    .container .kiri {
        width: 70%;
    }
    .container .kanan {
        width: 30%;
    }
    .header {
        text-align: center;
    }
    /* .container .kanan .menu {
        text-align: center;
    } */
    .container .kanan .icon {
        float: right;
        display: block;
    }
    .container .kanan .menu {
        display: none;
    }
}