*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
}

h1{
	font-size: 50px;
	line-height: 64px;
	color: #222;
}

h2{
	font-size: 46px;
	line-height: 54px;
	color: #222;
}

h4{
	font-size: 20px;
	color: #222;
}

h6{
	font-weight: 700;
	font-size: 12px;
}
p{
	font-size: 16px;
	color: #465b52;
	margin: 15px 0 20px 0;
}

.section-p1{
	padding: 40px 80px;
}
.section-m2{
	margin: 40px 0;
}

body{
	width: 100%;
}

.clear {
    clear: left;
}


#hero {
    background-image: url(img/hero4.png);
    height: 130vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    align-items: flex-start;
    justify-content: center;
}

#hero h1 {
    color: #088178;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero button {
	background-image: url("img/button.png");
	background-color: transparent;
	color: #088178;
	border: 0px;
	padding: 14px 80px 14px 65px;
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;
}

#produk1 {
    text-align: center;
}

#produk1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#produk1 .pro {
    text-align: left;
    width: 25%;
    /* min-width: 250px; */
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.2s ease;
    position: relative;
}

#produk1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    ;
}

#produk1 .pro img {
    width: 100%;
    border-radius: 10px;
}

#produk1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

.des a{
    width: 100%;
    border-radius: 50px;
    transition: all 0.3s ease;

}

.des a:hover{
    /*width: 80%;*/
    /*border-radius: 50px;*/
    color: #088178;
    background-color: white;
    border: 2px solid #088178;
    transition: all 0.3s ease;
}

.btn {
    background-color: #088178;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/banner/b2.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
}

#banner button:hover {
    color: #fff;
    background: #088178;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('img/banner/b17.jpg');
    /* min-width: 580px; */
    width: 50%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url('img/banner/b10.jpg');
}

#sm-banner h4 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    margin-bottom: 20px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    background-image: url('img/banner/b7.jpg');
    /* min-width: 30%; */
    width: 25%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    /*padding: 20px;*/
    margin-bottom: 10px;
}

#banner3 .banner-box2 {
    background-image: url('img/banner/b4.jpg');
    /* margin: 0px 20px; */
}

#banner3 .banner-box2 h2{
    /* line-height: 30px; */
}

#banner3 .banner-box3 {
    background-image: url('img/banner/b18.jpg');
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: red;
    font-weight: 800;
    font-size: 15px;
}

.features{
    padding: 30px 80px;
    height: 120px;
    text-align: center;
    height: 400px;
}

.features-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.feature-items{
    border: 1px solid #ddd;
    padding: 20px 20px;
    flex: auto;
    margin: 0 10px;
    width: 10%;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
}
.feature-items:hover{
        display: inline-block;
    /*padding-right: 200px;*/
    border-top: 7px solid deepskyblue;
    transition: all ease 0.3s;
    cursor: pointer;
}

.feature-items span {
    background-color: #cce7d0;
    padding: 10px 15px;
    border-radius: 4px;
    color: #465b52;
}

.feature-icon {
    font-size: 100px !important;
    margin-bottom: 20px;
    color: #22a6b3;
}

footer .sec-f {
    padding: 0px 80px;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

.footer-container{
    color:#fff;
	background-color:#192a56;
    padding: 30px 80px;
    height: 120px;
}
.footer-left {
    float:left;
    width:50%;
}
.footer-left p{
    color:white;
    font-size: 18px;
}
.footer-left h3{
    color:white;
    font-size: 30px;
}
.footer-right{
	float:right;
	width:50%;
    text-align: right;
}
.txt-orange {
	color:orange;	
}

input[type=text], select {
    /* width: 400px; */
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    /* width: 100px; */
    background-color: #22a6b3;
    color: white;
    padding: 11px 16px;
    margin-left: -4px;
    /* margin: 0px 0; */
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}